body{
    background-image: url(https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?cs=srgb&dl=apple-coffee-computer-459653.jpg&fm=jpg);
    margin: auto;
    background-size:cover;
    background-repeat: no-repeat;
}

.h1{
    text-align: center;
    color: white;
}