body{
    background-image: url(https://th.bing.com/th/id/OIP.C13pR99xr7cG-GLZpzuzOQHaPO?pid=ImgDet&rs=1);
    margin: auto;
    background-size:cover;
    background-repeat: no-repeat;
}
table td {
    border: 1px solid black;
    background-color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 960px;
  }