body{
    background-image: url(https://hticenters.com/uploads/news/Georgia-is-one-of-the-oldest-civilizations.jpg);
    margin: auto;
    background-size:cover;
    background-repeat: no-repeat;
}

.h1{
    text-align: center;
    color: green;
}
